.sides {
  padding: 0;
  line-height: 100%;
  text-align: left;
  background-color: #fff;
  height: 92vh;
  width: 100%;
  overflow: scroll;
}

/* 去掉antd预设的宽度 */
aside {
  width: 11vw !important;
}
