.form-box {
  width: 30vw;
  background: #f9fff5;
  overflow: hidden;
  border-radius: 1em;
  color: #010101;
}

.form {
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  padding: 32px 24px 24px !important;
  gap: 16px !important;
  text-align: center !important;
}

/*Form text*/
.title {
  font-weight: bold;
  font-size: 1.6rem;
}

.subtitle {
  font-size: 1rem;
  color: #666;
}

/*Inputs box*/
.form-container {
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  margin: 1rem 0 0.5rem;
  width: 100%;
}

.input {
  background: none !important;
  border: 0 !important;
  outline: 0 !important;
  height: 40px !important;
  width: 30em !important;
  border-bottom: 1px solid #eee !important;
  font-size: 1rem !important;
  padding: 8px 15px !important;
}

.form-section {
  padding: 16px;
  font-size: 0.85rem;
  text-align: center;
  background-color: #f9fff5;
  box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

/*Button*/
.form .button {
  border-radius: 24px;
  background-color: rgb(53, 192, 134);
  color: #fff;
  border: 0;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 100%;
  height: 2.5em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form .button:hover {
  background-color: rgb(40, 173, 113) !important;
}
